* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color:#f8f8f8; */
}
li{
    list-style: none;
}
.header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    border-bottom: 1px solid rgb(226, 222, 222);
    background-color: red;
}
.header .logo img{
    width: 80px;
    height: 45pX;
}
.header .menu {
    flex: 2;
}
.header .menu a:hover{
    color: #b1cb5c;
}
.header .header-right i:hover{
    color: #b1cb5c;
}
.header .menu__list {
    display: flex;
    list-style: none;
    margin-left: 20px;
}
.header .menu__list-item {
    padding: 0px 20px;
}
.header .menu__list-item a {
    color: #221f20;
    font-weight: bold;
    text-decoration: none;
}
.header .header-right ul {
    display: flex;
    list-style: none;
}
.header .header-right li {
    padding: 0px 0px 0px 20px;
    display: flex;
    align-items: center;
}
.header-right i {
    color: #221f20;
}
.header-right input {
    height: 30px;
    width: 200px;
    outline: none;
    padding-left: 40px;
}
.item-search {
    position: relative;
    left: 30px;
    cursor: pointer;
}
/*---------------------- Main ----------------------*/
.body{
    margin-left: 11%;
    margin-right: 11%;
    background-color: #f8f8f8;
}
/* --------slider-------- */
.slider{
    padding: 20px 0;
    height: 450px;
    
    background-color: #f8f8f8;
}
.slider-content{
    display: flex;
    justify-content: space-between;
}
.slider-content-left{
    width: 65%;
}
.slider-content-left-top{
    width: 100%;
    height: 350px;
    position: relative;
    transition: all 0.5s ease;
}
.slider-content-left-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .slider-content-left-top:hover i{
    opacity: 1;
} */
.slider-content-left-bottom{
    display: flex;
    justify-content: space-between;
    border: 2px solid #ddd;
    height: 50px;
    background-color: white;
}
.slider-content-left-bottom li{
    width: 20%;
    font-size: 13px;
    font-weight:500;
    text-align: center;
    cursor: pointer;
    padding: 6px 0;
    line-height: 38px;
    position: relative;
    border-top: 3px solid #fff;
}
.slider-content-left-bottom li::before{
    display: block;
    content: "";
    position: absolute;
    height: 70%;
    width: 1px;
    background-color: #ddd;
    right: 0;
}
.slider-content-left-bottom li.active{
    border-top: 3px solid red;
    font-weight: bold;
}

.slider-content-right{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}
.slider-content-right li img{
    width: 100%;
    height: 100%;
}
.slider-content-left-top-btn{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slider-content-left-top-btn i{
    color: rgb(72, 70, 70);
    font-size: 30px;
    height: 70px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(-50%);
    cursor: pointer;
}
.slider-content-left-top img{
    position: absolute;
}
.slider-content-left-top a:nth-child(2) img{
    transform: translateX(100%);
}
.slider-content-left-top a:nth-child(3) img{
    transform: translateX(200%);
}
.slider-content-left-top a:nth-child(4) img{
    transform: translateX(300%);
}
.slider-content-left-top a:nth-child(5) img{
    transform: translateX(400%);
}
.slider-content-left-top-container{
position: relative;
overflow: hidden;
}
.slider-content-left-top-container:hover i{
    opacity: 1;
}
.section-content{
    height: 100px;
    display: flex;
    background-color: #f8f8f8;

}
.section-content .content{
    display: flex;
    height: 55px;
    width: 25%;
    margin: 0 20px;
    background-color: white;
}
.section-content .content .content-text{
    padding-left: 15px;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
}
.text-phone{
    width:180px;
    background-color: black;
    height: 30px;
    padding-top: 7px;
    margin-bottom: 20px;
}
.text-phone a{
    padding-left: 10px;
    text-decoration: none;
    color: white;
    /* padding-left: 10px; */
}
.text-phone a:hover{
    color: #b1cb5c;
}
.list-phone1{
    /* width: 100%; */
    display: flex;
    text-align: center;
    font-weight: bold;
}
.list-phone1 .phone{
    width: 20%;
    padding: 10px;
}
.list-phone1 .phone a{
    text-decoration: none;
    color: red;
    overflow: hidden;
}
.list-phone1 .phone a:hover img{
    transform: scale(1.1);
}
.list-phone1 .phone img{
    width: 220px;
    height:220px;
    transition: all 0.3s ease-in-out;
    display: block;
}
.list-phone1 .price{
    margin-top: 12px;
}
.list-phone1 p{
    color: rgb(80, 136, 204);
}

.mid-banner img{
    /* margin-right: 11%; */
    width: 100%;
    height: 100px;
}
.text-phone2{
    width:180px;
    background-color: black;
    height: 30px;
    padding-top: 7px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.text-phone2 a{
    padding-left: 10px;
    text-decoration: none;
    color: white;
}
.text-phone2 a:hover{
    color: #b1cb5c;
}
.banner-bottom{
    width: 100%;
    height: 350px;
/* display: flex; */
}
.banner-bottom img{
    width: 49%;
    height: 250px;
    margin: 20px 0 20px 5px;
}
/* .banner-bottom .banner2{
    width: 49%;
} */












/*------------------- Footer --------------*/
.footer{
    color: white;
    background-color: black;
    width: 100%;
    height: 260px;
}
.footer .footer_item img{
    width: 130px;
    height: 110px;
    padding-top: 10px;
}
.footer .footer_item{
    width: 26%;
    padding: 12px;
    float: left;
    margin-top: 50px;
    margin-left: 100px;
    padding-left: 3%;
}
.footer .footer_item .pay img{
    width: 220px;
    height: 110px;
}